body{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(2248344.jpg);
    background-size: cover;
    background-position: center;
}
.logo img{
    float: left;
    width: 100px;
    height: auto;

}
ul{
    float: right;
    list-style-type: none;
    margin-top: 15px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 15px 25px;
    border: 1px solid transparent;
    transition: 0.5s ease;
}
.booking form{
    max-width: 350px;
    border: 1px solid #fff;
    margin: 100% auto 0;

}
.booking{
    padding: 50px 35px 30px;
}
.booking form label{
    margin-bottom: 5px !important;
    margin-top: 10px !important;
    font-size: 12px !important;
    color: #fff !important;
}
input::placeholder{
    color: #fff !important;

}
.input-grp{
    width: 150px;
    display: inline-block;
}
.form-control{
    font-size: 12px !important;
    border-radius: 0 !important;
    color: #fff !important;
    background: transparent !important;
    box-shadow: none !important;

}
.select-date::-webkit-inner-spin-button,
.select-date::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;

}
.select-date::-webkit-calender-picker-indicator
{
    background: transparent !important;
}
.custom-select{
    color: #fff !important;
    font-size: 12px !important;
    border: 1px solid #ced4da !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    background: transparent !important;
}
.flight
{
    width: 100% !important;
    padding: 9px 0 !important;
    font-size: 12px !important;
    border: 1px solid #fff !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    background: transparent !important;
     
}
.flight:hover
{
    background: #fff !important;
    color: #000 !important;
    transition: 0.5s;

}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed; /* Make it stick/fixed */
    top: 0;
    width: 100%; /* Full width */
    transition: top 0.3s;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  .title{
    position: absolute;
    color: #ced4da;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
section{  
    border:1px;
    color: #fff; 
    padding: 100px 20px 20px;  
    margin:10px;  
    }  

